#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# Accpet EULA
eula --agreed
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Reboot after isntalling
reboot

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=kero
# Root password
rootpw --iscrypted $6$x/zLYDhP3zaLefJD$ZJzHBY6Yi4HusifCl6KQrnvTdu.eyafh5eo2zO1jZ0PbDVonSR8Pc8eg/RCf89hZY2fzmOzjJVZ2muzx3lnQP/
# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=zfrog --password=$6$tAxkwHReSCOm7z3U$0yzwTSTyuAm17lUwUHuwuOhhxBthD3tx/gIfiyXzecxI61p/DxgTHP9MyBX0U2PMTKJWk498DpdoHbSKBA1Av. --iscrypted
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel 

# System Services
services --enabled=NetworkManager,sshd

# Firewall
firewall --disabled

# SELinux
selinux --disabled

%packages
@backup-client
@base
@core
@development
@file-server
@guest-agents
@hardware-monitoring
@print-server
@remote-system-management
kexec-tools
vim
git
wget
gcc
kernel-devel

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end